body{
    margin: 0px;
    padding: 0px;
    background-color: rgb(248, 248, 248);
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat';
    line-height: 30px;
}
@font-face {
    font-family: Montserrat;
    src: url(https://fonts.googleapis.com/css2?);
  }
ion-icon{
    width: 30px;
    height: 30px;
    color: skyblue;
  }
  p{
    color: grey;
  }
  ul{
    list-style: none;
  }
  li{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
.header{
    background-image: url("images/hero.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 600px;
    margin: 0%;
    display: flex;
    flex-direction: column;
    color: white;

}
a{
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

button{
    padding: 10px;
    background-color: rgb(95, 236, 255);
    border: 0ch;
    border-radius: 5px;
    color: white;
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
}
.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    width: 30%;
}
.links{
    display: flex;
    justify-content: space-evenly;
    width: 50%;
    gap: 10px;
    
}
.extras{
    display: flex;
    gap: 15px;
    align-items: center;
}

.intro{
    text-align: center;
    align-self: center;
    width: 30%;
    margin: 5%;
}
.intro button{
    border-radius: 50px;
    color: white;
    background-color: unset;
    border: 1px white solid;
}
.intro button:hover{
    background-color: aqua;
    border: 0ch;
}
.examples{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: -50px 0 50px 0;
    gap: 20px;
    
}
.examplescontent{
    box-sizing: border-box;
    width: 280px;
    padding: 25px;
    background-color: white;

}
.examplescontent:hover{
    background-color: aqua;
    color: white;
}
.examples2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 300px;
}
.examplescontent2{
    width: 280px;
    padding: 10px;
}
.industry{
    text-align: center;
    width: 30%;
    align-self: center;
}

.profiles, .partners{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}
.partners{
    justify-content: space-evenly;
    width: 70%;
    align-self: center;
    margin-top: 200px;
}
.prfile{
    max-width: 200px;
    padding: 10px;
    background-color: white;
    padding: 30px;
    margin: 20px 0;
    border: 1px rgb(197, 195, 195) solid;
    text-align: center;
    border-radius: 5px;
    
}

.newsletter{
    background-image: linear-gradient(to left, rgb(197, 51, 197), rgb(55, 60, 139));
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 70%;
    align-self: center;
    margin-top: 30px;
    color: white;
    font-size: 32px;
}
.form{
    width:fit-content;
    display: flex;
    gap: 0;
    border: 1px white solid;
}
.newsletter input, .newsletter button{
    padding: 10px;
    border-radius: 0%;
    
}
.newsletter input{
    width: 250px;
    border: 0ch;
}
.pricing{
    display: flex;
    flex-direction: column;
    align-self: center;
}
.title{
    text-align: center;
}
.packages,  .appointment, .consulting, .footer{
    display: flex;
    justify-content: space-around;
}
.package{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.branches{
    background-color: rgb(56, 56, 90);
    height: 500px;
    padding: 70px 50px;
    color: white;
    display: flex;
    justify-content: space-evenly;

}
.branch{
     width: 30%; 

}
.appointment{
    margin-top: -200px;
    gap: 0;
    width: 50%;
    align-self: center;
    height: fit-content;
}
.appointment img{
    width: 35%;
}
.appointment input, select{
    background-color: rgb(235, 234, 233);
    padding: 10px;
    border: rgb(177, 176, 176);
    border-radius: 5px;
}
.appointment form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: white;
    padding: 20px;
    width: 65%;
}

.package{
    border: 1px skyblue solid;
    border-radius: 5px;
    width: 33%;
    background-color: white;

    
}
.package:hover{
    background-color: rgb(34, 34, 85);
    color: white;
    margin-top: -10px;
}
.packages{
    margin: 20px 0;
}
ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.consulting button{
    color: white;
    border-radius: 5px;
    padding: 10px;
    height: 35px;
}
.consulting{
    margin: 150px 0 0 1px;
    align-items: center;
}
.footersect a{
    color: black;
}
.footer{
    background-color: white;
    padding: 20px 60px;
}
.footersect{
    display: flex;
    flex-direction: column;
    justify-content: left;

}
footer{
    display: flex;
    justify-content: space-between;
    padding: 30px;
}
.icons{
    display: flex;
    flex-direction: row;
  
}